.get-started-button{
  background-color: rgb(121, 82, 179);
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 6px;
  transition: background-color 0.15s;
}

.get-started-button:hover {
  background-color: rgb(99, 22, 216);
}

.dowland-button{
  background-color: white;
  color: rgb(108, 117, 125);
  border-width: 1px;
  border-style: solid;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.dowland-button:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}
