p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.subtitle {
  margin-top: 10px;
  margin-bottom: 5px;
}

.underline {
  text-decoration: underline;
}