.card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 200px;
  display: inline-block;
  margin-right: 10px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

p {
  font-family: Arial;
  margin-bottom: 0;
  margin-top: 0;
}

.profile-name {
  font-size: 20px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 4px;
}

.mutual-friends{
  color: rgb(100, 100, 100);
  margin-bottom: 12px;
  margin-left: 8px;
}

.add-button {
  background-color: rgb(100, 100, 255);
  color: white;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
}