p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
}


.profile {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  vertical-align: top;
  margin-right: 15px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 8px;
}

.mutual-friend-row {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 10px;
}

.mutual-friend-picture {
  width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 14px;
  margin-right: 4px;
  vertical-align: middle;
}

.mutual-friends {
  color: rgb(90, 90, 90);
}

.add-friend-button {
  background-color: rgb(24, 119, 242);
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
}